    a:link {color:#085ca2; text-decoration:none;}
    a:visited {color:#085ca2; text-decoration:none;}
    a:hover {text-decoration:underline;}

html {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: calc(5vw + 14px);
   /* font-size: 6.5vw; */
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #f4dac1;
    background-color: #ad8624;
    font-family: 'Cooper Black', 'Corben', cursive;
    font-style: bold;
}

h2 {
    font-size: calc(2vw + 11px);
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #f4dac1;
    background-color: #ad8624;
    font-style: italic;
    font-family: 'Cooper Black', 'Corben', cursive;
}

h4 {
    font-size: calc(0.4vw + 11px);
    align-items: left;
    justify-content: left;
    text-align: left;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #ad8624;
    font-style: normal;
    font-family: 'Nobile', sans-serif;
}

h5 {
    font-size: calc(0.3vw + 10px);
    align-items: left;
    justify-content: left;
    text-align: left;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #ad8624;
    font-style: normal;
    font-family: 'Nobile', sans-serif;
}

iframe {
    border: none;
    width: 300px;
    height: 604px;
    margin: 0;
    padding: 0;
    text-align: center
}

body {
    font-size: calc(2vw + 11px);
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #000000;
    font-family: 'Nobile', sans-serif;
    font-style: normal;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    /*white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}    

table.center {
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 55vmin;
}

.container {
    align-items: center;
    width: 55vmin;
}

.video {
    display:block;
    margin: 0 auto;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    font-size: calc(1vw + 6.5px);
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0;
    margin: 0;
    padding: 0;
    color: #ad8624;
    font-family: 'Cooper Black', 'Corben', cursive;
}
