/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    a:link {color:#085ca2; text-decoration:none;}
    a:visited {color:#085ca2; text-decoration:none;}
    a:hover {text-decoration:underline;}





 

html {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: calc(5vw + 14px);
   /* font-size: 6.5vw; */
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #f4dac1;
    background-color: #ad8624;
    font-family: 'Cooper Black', 'Corben', cursive;
    font-style: bold;
}

h2 {
    font-size: calc(2vw + 11px);
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #f4dac1;
    background-color: #ad8624;
    font-style: italic;
    font-family: 'Cooper Black', 'Corben', cursive;
}

iframe {
    border: none;
    width: 300px;
    height: 604px;
    margin: 0;
    padding: 0;
}



body {
    font-size: calc(2vw + 11px);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #000000;
    font-family: 'Nobile', sans-serif;
    font-style: normal;
	
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */

}




table.center {
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-size: calc(1vw + 6.5px);
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0;
    margin: 0;
    padding: 0;
    color: #ad8624;
    font-family: 'Cooper Black', 'Corben', cursive;
}
